[submodule "plugins/cpu/pymsasid3"]
	path = plugins/cpu/pymsasid3
	url = https://github.com/pfalcon/pymsasid3
[submodule "plugins/loader/pyelftools"]
	path = plugins/loader/pyelftools
	url = https://github.com/pfalcon/pyelftools
[submodule "libs/picotui"]
	path = libs/picotui
	url = https://github.com/pfalcon/picotui
